
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-guidedog:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */